build/
.cache/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.make
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
Lab4
lab4_test

.vs/
.vscode/
*.user
*.suo
*.sln.docstates
